<p>
  <b>Queue</b><%=h @queue_info.queue.to_param %> <b>Owner</b><%= h @queue_info.owner.name %>
</p>


<%= link_to 'Edit', edit_polymorphic_path(@queue_info) %> |
<%= link_to 'Back', retain_queue_infos_path %>
