<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<% @title = @exception.message %>
<% content_for(:center) do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <h2 style='text-align: center; color: red;'>
    <%= controller.instance_variable_get(:@exception).message %>
  </h2>
<% end %>

<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url("Favorites", favorite_queues_path) %>
  </div>
<% end %>
