<%# -*- coding: utf-8 -*- %>

<!-- retain/errors/retain_did_not_read_field.html.erb -->
<% @title = "Retain did not read field #{@exception.field_name}" %>
<% content_for(:center) do %>
  <h2 style='text-align: center; color: red;'>
    This is never suppose to happen but obviously it just did.  We
    asked retain for a field called <q><%= @exception.field_name
    %></q> and it did not tell us.  This could be because Retain is
    really sick.
  </h2>
<% end %>

<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url("Favorites", favorite_queues_path) %>
  </div>
<% end %>
