<!-- retain/errors/retain_logon_empty.html.erb -->
<% @title = "Retain did not read field #{@exception.field}" %>
<% content_for(:center) do %>
  <h2 style='text-align: center; color: red;'>
    This is never suppose to happen but obviously it just did.  We
    asked retain for <%= @exception.field %> and it did not tell us.
    This could be because Retain is really sick.
  </h2>
<% end %>

<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url("Favorites", combined_favorite_queues_path) %>
  </div>
<% end %>
