<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<% @title = "Retain Logon returned empty" %>
<% content_for(:center) do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <h2 style='text-align: center; color: red;'>
    The logon sequence to retain should return 50 bytes.  Instead, it
    returned nothing.  Probably Retain is really sick right now.  We
    should all go home.
  </h2>
<% end %>

<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url("Favorites", favorite_queues_path) %>
  </div>
<% end %>
