<p>
  <b>Retid:</b>
  <%=h @user.retid %>
</p>

<% if admin? %>
  <p>
    <b>Password:</b>
    <%=h @user.password %>
  </p>
<% end %>

<%= link_to 'Edit', edit_retain_user_path(@user) %> |
<%= link_to 'Back', retain_users_path %>
