
.ecpaat-heading {
    color: white;
}

.normal {
}

.blue-diamond {
    background-color: white;
    background-image: url(../../images/blue-diamond.jpg);
}

.usa {
    background-color: white;
    background-image: url(../../images/flag.jpg);
}

/* needed to get pop ups to position */
.popup-wrapper {
  position: relative;
  display: block;
}

/* defined new element called popup */
.popup {
    display: block;
    position: absolute;
    top: 2px;
    left: 25px;
    color: #FFF;
    padding: 0.5em;
    z-index: 100;
    background-color: black;
    text-align: left;
}

/* Links in the top section are hard to see. */

#top a { color: #000; }
#top a:visited { color: #222; }
#top a:hover { color: #fff; background-color:#000; }

/* PAT styling */

.pat { background-color: lightBlue; }

.ps_hot { color: red; }

form.call-fi5312-form {
    padding-top: 2ex;
    padding-left: 1em;
    font-size: 100%;
    font-family: "Monico", Courier, monospace;
}

form.call-fi5312-form label {
    font-size: 100%;
    font-family: "Monico", Courier, monospace;
}

form.call-fi5312-form input {
    font-size: 100%;
    font-family: "Monico", Courier, monospace;
}

form.call-fi5312-form input[type=radio] {
    margin-right: 2px;
    margin-left:  1em;
}

.call-fi5312-line-3 {
    margin-bottom: 1ex;
}

.call-fi5312-month-label {
    display: inline-block;
    padding-top: 2ex;
    padding-bottom: 2ex;
}
