
#top {
    position : fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    background-color : #4477BB;
    overflow: auto;
}

#top div {
    padding-left: 1em;
}

#left-tab {
    position : fixed;
    top: 150px;
    left: 0px;
    width: 2em;
    bottom: 0px;
    background-color : LightBlue;
    overflow: auto;
}

#left-tab div {
    text-align: center;
}

#left {
    position : fixed;
    top: 150px;
    left: 2em;
    bottom: 0px;
    background-color : LightBlue;
    overflow: auto;
    z-index: 1;
}

#left div {
    margin-right: 1em;
}

#right-tab {
    position : fixed;
    top: 150px;
    right: 0px;
    width: 2em;
    bottom: 0px;
    background-color : LightBlue;
    overflow: auto;
}

#right-tab div {
    text-align: center;
}

#right {
    position : fixed;
    top: 150px;
    right: 2em;
    bottom: 0px;
    background-color : LightBlue;
    overflow: auto;
    z-index: 1;
}

#right div {
    margin-left: 1em;
}

#center {
    position: absolute;
    top: 150px;
    left: 2em;
    right: 2em;
    bottom: 20px;
    overflow: auto;
    font-family: courier, monospace;
}

#center div {
    padding-left: 0.5em;
}

#bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color : #4477BB;
    overflow: auto;
}

#bottom div {
    padding: 0.5em;
}

body {
    background-color: #f8f8f8;
}

.signature {
    color: blue;
}

.system {
    color: green;
}

.normal-protected {
    color: red;
}

.normal-unprotected {
    color: pink;
}

.intensified-protected {
    color: orange;
}

.intensified-unprotected {
    color: tan;
}

.even {
    background-color: #f0f0ff;
}

.odd {
    background-color: #f8f8ff;
}

.even-float {
    font-size: 300%;
    float: right;
    color: Gray;
}

.odd-float {
    font-size: 300%;
    float: right;
    color: DarkGray;
}

#click-header {
    color: gold;
}

.click-tag {
    text-decoration: underline;
    cursor: pointer;
}

#pmr-header {
    width: 100%;
}

.field-header {
    font-weight: bold;
}

.field-left {
}

.field-center {
}

.field-right {
}

#pbc {
    font-weight: bold;
    font-size: larger;
}

#line1 {
    position: relative;
    top: 0em;
}

#line2 {
    position: relative;
    top: 1.3em;
}

#line3 {
    position: relative;
    top: 2.6em;
}

#line4 {
    position: relative;
    top: 3.9em;
}
