body {
    background-color: #4477BB;
    color: black;
}

#flash-error {
    color: red;
}

#flash-warn {
    color: yellow;
}

#flash-notice {
    color: LightBlue;
}

table.sortable {
    /* background-color: DarkBlue; */
    border-color: DarkBlue;
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
}

thead {
    background-color: LightBlue;
}

tfoot {
    background-color: LightBlue;
}

table.sortable > tfoot > tr > td,
table.sortable > tbody > tr > td,
table.sortable > thead > tr > th {
   border-color: DarkBlue;
   border-width: 1px;
   border-style: solid;
}

td.age {
    text-align: right;
}

td.jeff {
    text-align: right;
}

.normal.rowodd {
    background-color: #e0e0e0;
}

.normal.roweven {
    background-color: #e0e0f8;
}

.updated.rowodd {
    background-color: #c0c0c0;
}

.updated.roweven {
    background-color: #c0c0f8;
}

.not-editable {
    border: 3px solid transparent;
}

span.ecpaat-heading {
    color: #0F0;
}

span.ecpaat-heading-missing {
    color: red;
}

/* needed to get pop ups to position */
.popup-wrapper {
  position: relative;
  display: block;
}

/* defined new element called popup */
.popup {
    display: block;
    position: absolute;
    top: 2px;
    left: 25px;
    color: #FFF;
    padding: 0.5em;
    width: 45em;
    z-index: 100;
    background-color: black;
    text-align: left;
}

.system-down {
    background-color: red;
}

.initial-response {
    background-color: yellow;
}

.smaller {
    font-family: courier, monospace;
    font-size: 11.2px;
    line-height: normal;
}

.smaller td {
    font-family: courier, monospace;
    font-size: 11.2px;
    line-height: normal;
}

.smaller button {
    font-size: 10px;
    line-height: 10px;
}

.good {
    color: green;
}

.warn {
    color: orange;
}

.wag-wag {
    background-color: red;
}

.customer {
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.pat {
    background-color: white;
}

.pmr-link {
    text-decoration: none;
}

.edit-name:hover {
    cursor: pointer;
}

.secondary {
}

.backup {
}

.pick-list-item {
    cursor: pointer;
}

.pick-list-item:hover {
    background-color: #ffb;
}

td.other-time {
    text-align: right;
}

td.total-time {
    text-align: right;
}

td.service-given {
    text-align: center;
}
