body {
    background: #f0f0f0;
    color: black;
}

td.age {
    text-align: right;
}

td.jeff {
    text-align: right;
}

.rowodd {
    background: #e0e0e0;
}

.roweven {
    background: #e0e0f8;
}

.not-editable {
    border: 3px solid transparent;
}

span.ecpaat-heading {
    color: #0F0;
}

/* needed to get pop ups to position */
.popup-wrapper {
  position: relative;
  display: block;
}

/* defined new element called popup */
.popup {
  display: none;
  position: absolute;
  top: -5px;
  left: 25px;
  color: #FFF;
  width: 80ex;
  z-index: 100;
  background: black;
  text-align: left;
}

/* hover over a popup to display it */
div.links a:hover .popup {
  display: block;
}

.system-down {
    background-color: red;
}

.initial-response {
    background-color: yellow;
}

.smaller {
    font-family: courier, monospace;
    font-size: 11.2px;
    line-height: normal;
}

.smaller td {
    font-family: courier, monospace;
    font-size: 11.2px;
    line-height: normal;
}

.smaller button {
    font-size: 10px;
    line-height: 10px;
}

.good {
    color: green;
}

.warn {
    color: orange;
}

.wag-wag {
    background-color: red;
}

.customer {
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.pmr-link {
    text-decoration: none;
}

.click-to-edit:hover {
    cursor: pointer;
}

.click-to-edit-button {
    border: 3px outset grey;
}

.click-to-edit-button:hover {
    cursor: pointer;
}

.secondary {
}

.backup {
}
