<%# -*- coding: utf-8 -*- %>

<!-- app/views/retain/call/_show_line.html.erb -->
<%= div_string unless div_string.nil? %>
<span id='<%= "#{id_prefix}_#{index}" %>' class='<%= span_classes %>'><%= text_line %></span><br/>
