<%# -*- coding: utf-8 -*- -%>
<html>
  <p style='width: 40em'>
    The connect to retain failed repeatedly for some reason.  This may
    be due to a glitch in retain or it may be a bug in raptor.  As
    usual, try again a few times and if all else fails, vent your
    spleen to Perry.
  </p>
</html>
