<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% unless flash.nil? -%>
  <% flash.keys.each do |key| -%>
    <p id="flash-<%= key.to_s %>"><%= flash[key] %></p>
  <% end -%>
<% end -%>
