<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Type:</b>
    <%=h @name.type %>
  </p>

  <p>
    <b>Name:</b>
    <%=h @name.name %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => @name.name, :item => @name, :parent => nil } %>
