.psar a:link {
    color: #3465a4;		/* yuk */
    text-decoration: none;
    font-weight: bold;
}

.psar a:visited {
    color: #9AB2D2;		/* yuk2 */
    text-decoration: none;
    font-weight: bold;
}

.hot-psar a:link {
    color: #ff65a4;		/* yuk3 */
    text-decoration: none;
    font-weight: bold;
}

.hot-psar a:visited {
    color: #ffB2D2;		/* yuk4 */
    text-decoration: none;
    font-weight: bold;
}
