<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Ice Cream!!!" -%>
<%- content_for(:top) do -%>
  <h1 style='text-align: center; color: green'>Hi!!!</h1>
<%- end -%>
<%- content_for(:center) do -%>
  <h3 style='text-align: center; color: blue; text-decoration: blink'>Here is your ice cream!!!</h3>
  <%= image_tag("ice_cream.jpg", :width => "100%" ) %>
<%- end -%>
<%- content_for(:bottom) do -%>
  <%= home_button %>
  <%= favorites_button %>
<%- end -%>

