<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Queue Monitoring List" -%>
<%- content_for(:center) do -%>
  <h1><%= @title %></h1>
  <%= render :partial => 'layouts/shared/display_flash' %>
  <table>
    <tr>
      <th>Queue Name</th>
    </tr>
    <%- @rotation_groups.each do |rotation_group| -%>
      <%- q = rotation_group.queue -%>
      <%- next if q.queue_name == 'nullqu' -%>
      <tr>
	<td><%= link_to q.item_name, qm_path(q.item_name) %><td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
