/*
 * Old colors:
 *
 * Main background color: #4477BB;
 */

body {
    background-color: #4C7FC3;	/* main */
    color: black;
}

td.ret-time { text-align: right; }

#flash-error {
    color: red;			/* error */
}

#flash-warn {
    color: yellow;		/* warning */
}

#flash-notice {
    color: green;		/* good */
}

.sdi-normal {
    color: black;		/* text */
    background-color: green;	/* good */
}

.sdi-warning {
    color: black;		/* text */
    background-color: yellow;	/* warning */
}

.sdi-error {
    color: black;		/* text */
    background-color: red;	/* error */
}

.click-to-edit-button {
    border: 3px outset grey;	/* grey? */
}

.click-to-edit-button:hover {
    cursor: pointer;
}

table.qm {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: DarkBlue;
	border-collapse: separate;
	background-color: LightBlue;
}
table.qm th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: DarkBlue;
	background-color: LightBlue;
	-moz-border-radius: ;
}
table.qm td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: DarkBlue;
	background-color: LightBlue;
	-moz-border-radius: ;
}

table.qm form {
    padding-left: 0.5em;
}

p.centered-text {
    text-align: center;
}
