
td.ret-time { text-align: right; }

#flash-error {
    color: red;
}

#flash-warn {
    color: orange;
}

#flash-notice {
    color: green;
}

.sdi-normal {
    color: green;
}

.sdi-warning {
    color: orange;
}

.sdi-error {
    color: red;
}
