/*
 * Old colors:
 *
 * Main background color: #4477BB;
 */

body {
    background-color: #4477BB;	/* main */
    color: black;
}

td.ret-time { text-align: right; }

#flash-error {
    color: red;			/* error */
}

#flash-warn {
    color: yellow;		/* warning */
}

#flash-notice {
    color: green;		/* good */
}

.sdi-normal {
    color: black;		/* text */
    background-color: green;	/* good */
}

.sdi-warning {
    color: black;		/* text */
    background-color: yellow;	/* warning */
}

.sdi-error {
    color: black;		/* text */
    background-color: red;	/* error */
}

.click-to-edit-button {
    border: 3px outset grey;	/* grey? */
}

.click-to-edit-button:hover {
    cursor: pointer;
}
