/* public/stylesheets/calls */

#arguments {
    border: solid;
    display: table;
    font-size: medium;
    font-weight: normal;
    float: right;
}

#error {
    color: red;
}

#error + ul > li {
    color: red;
}
