<% @title = "Retain Queue: #{@queue.to_param}" -%>
<% add_page_setting('calls_table', retain_queue_calls_path(@queue)) -%>
<h1><%= @title %></h1>
<table class='refetch' id='calls_table'>
  <tr>
    <td>
    </td>
  </tr>
</table>
