
<table>
  <tr><td>Name</td><td><%= h @reg.name %></td></tr>
  <tr><td>Software Center</td><td><%= h @reg.software_center %></td></tr>
  <tr><td>Hardware Center</td><td><%= h @reg.hardware_center %></td></tr>
</table>
