<% @title = "Registration for #{@reg.name}" %>
<table>
  <tr>
    <th>Name</th>
    <td><%= h @reg.name %></td>
  </tr>
  <tr>
    <th>Software Center</th>
    <td><%= center_link(@reg.software_center) %></td>
  </tr>
  <tr>
    <th>Hardware Center</th>
    <td><%= center_link(@reg.hardware_center) %></td>
  </tr>
</table>
