<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Registration for #{@reg.name}" %>
<table>
  <tr>
    <th>Name</th>
    <td><%= h @reg.name %></td>
  </tr>
  <tr>
    <th>Software Center</th>
    <td><%= center_link(@reg.software_center) %></td>
  </tr>
  <tr>
    <th>Hardware Center</th>
    <td><%= center_link(@reg.hardware_center) %></td>
  </tr>
</table>
