<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% @title = "Expanded Favorite Queues" -%>
<% @stylesheets = [] -%>
<% @javascripts = "expanded_favorite_queues.js" -%>
<% content_for(:center) do -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Expanded Listing of Favorite Queues</h1>
<div id='main'></div>
<%= button_url 'Normal View', favorite_queues_path -%>
<br/>
<div id='error-message-box'></div>
<% end -%>
