<%# -*- coding: utf-8 -*- -%>
<p>
  <b>Psar solution code:</b>
  <%=h @retain_solution_code.psar_solution_code %>
</p>

<p>
  <b>Description:</b>
  <%=h @retain_solution_code.description %>
</p>


<%= link_to 'Edit', edit_retain_solution_code_path(@retain_solution_code) %> |
<%= link_to 'Back', retain_solution_codes_path %>
