<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Name:</b>
    <%=h @filter.name %>
  </p>

  <p>
    <b>SQL:</b>
    <%=h @filter.condition ? @filter.condition.sql : "None" %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => @filter.name, :item => @filter, :parent => nil } %>
