<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>org.raptor.worker</string>
    <key>WorkingDirectory</key>
    <string>/Users/pedzan/Source/Rails/raptor</string>
    <key>StandardOutPath</key>
    <string>/Users/pedzan/Source/Rails/raptor/log/worker.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/pedzan/Source/Rails/raptor/log/worker.err</string>
    <key>ProgramArguments</key>
    <array>
      <string>script/prvm-wrapper</string>
      <string>ruby</string>
      <string>vendor/plugins/async_observer/bin/worker</string>
    </array>
    <key>OnDemand</key>
    <false/>
  </dict>
</plist>
