<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%-
   span_title = "Customer number: #{customer.customer_number}"
   classes = 'field field-center'
-%>
<span id='customer-name' class='<%= classes %>' title='<%= span_title %>'>
  <%= h name %>
</span>
