<%# -*- coding: utf-8 -*- %>

<!-- app/view/pgerrors/not_null.html.erb -->
<p style='text-align: center; color: red; width: 40em'>
  <%= controller.instance_variable_get(:@exception).message %>
</p>
<p style='width: 40em;'>
  The database threw an exception that a <q>not null</q>
  constraint was violated.  This happens when a field was empty when
  it was not suppose to be empty.  The error should have been caught
  before it got this deep in the application.  Please report this to
  me via email or something like that.
</p>
<p style='margin-left: 5em;'>
  Perry
</p>
