<!-- app/view/pgerrors/not_null.html.erb -->
<p style='text-align: center; color: red; width: 40em'>
  <%= controller.instance_variable_get(:@exception).message %>
</p>
<p style='width: 40em;'>
  The database threw an exception that a &ldquo;not null&rdquo;
  constraint was violated.  I bet this is a bug that needs to be
  reported.  Send me an email or something...
</p>
<p style='margin-left: 5em;'>
  Perry
</p>
