<%# -*- coding: utf-8 -*- -%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Database Error</title>
  </head>
  <body>
    <%= yield  %>
  </body>
</html>
